.App {
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.App-header li {
  padding: 0 10px;
}

main {
  text-align: center;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}